{% extends "layouts.html" %}
{% block contentA%}
<div class="container w-50">
 {{form.hidden_tag()}}
  <form method="POST" action="">
    {{form.hidden_tag()}}
    <fieldset>
      <legend class="border-bottom mb-4">Login</legend>
      <div class="form-group">
        {{form.email.label(class="form-control-label")}} {% if
        form.email.errors %} {{form.email(class="form-control
        form-control-lg is-invalid")}} {% for error in form.email.errors %}
        <span>{{error}}</span>
        {%endfor%} {%else%} {{form.email(class="form-control
        form-control-lg")}} {% endif %}
      </div>
      <br/>
      <div class="form-group">
        {{form.password.label(class="form-control-label")}} {% if
        form.password.errors %} {{form.password(class="form-control
        form-control-lg is-invalid")}} {% for error in form.password.errors %}
        <span>{{error}}</span>
        {%endfor%} {%else%} {{form.password(class="form-control
        form-control-lg")}} {% endif %}
      </div>
    </fieldset>
    <div class="field-group mt-4 d-grid gap-2">
      {{form.submit(class="btn btn-primary btn-lg btn-online-info")}}
    </div>
  </form>
</div>
{% endblock contentA%}
